<div class="container">
  <a (click)="displayForm()" [hidden]="showCreateForm" class="pointer-cursor-btn btn-primary">Create Entry</a>
  <a (click)="showCreateForm = false; showEnitresList= true" [hidden]="showEnitresList" class="pointer-cursor-btn btn-primary">List Entry</a>
  <a (click)="dumpDummyData()" class="pointer-cursor-btn btn-primary">Load Dummy Data</a>
  <div class="wrapper" [hidden]="!showCreateForm" style="margin-top: 20px">
    <form #regForm='ngForm' (ngSubmit)="regForm.form.valid && createEntry()">
      <div class="form-group">
        <label for="city">ID</label>
        <input type="number" class="form-control" id="id" name="id" disabled [(ngModel)]="model.id">
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" name="city" [(ngModel)]="model.city" #city="ngModel" [ngClass]="{ 'is-invalid': regForm.submitted && city.invalid }" required>
      </div>
      <div class="form-group">
        <label for="start_date">Start Date</label>
        <input type="date" name="start_date" class="form-control" id="start_date" [(ngModel)]="model.start_date" #start_date="ngModel" [ngClass]="{ 'is-invalid': regForm.submitted && start_date.invalid }" required>
      </div>
      <div class="form-group">
        <label for="end_date">End Date</label>
        <input type="date" name="end_date" class="form-control" id="end_date" [(ngModel)]="model.end_date" #end_date="ngModel" [ngClass]="{ 'is-invalid': regForm.submitted && end_date.invalid }" required>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price" [(ngModel)]="model.price" #price="ngModel" [ngClass]="{ 'is-invalid': regForm.submitted && price.invalid }" required>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <input type="text" class="form-control" id="status" name="status" [(ngModel)]="model.status" #status="ngModel" [ngClass]="{ 'is-invalid': regForm.submitted && status.invalid }" required>
      </div>
      <div class="form-group">
        <label for="color">Color</label>
        <input type="text" class="form-control" id="color" name="color" [(ngModel)]="model.color" #color="ngModel" [ngClass]="{ 'is-invalid': regForm.submitted && color.invalid }" required>
      </div>
      <button type="submit" class="btn btn-primary pointer-cursor"><span *ngIf="editModeEnabled">Update</span><span *ngIf="!editModeEnabled">Add</span> Entry</button>
    </form>
  </div>
  <div class="wrapper" *ngIf="entries.length && showEnitresList">
    <div class="container">
      <h2>List Entries</h2>
      <!-- filtering option specific for the demo -->
      <div class="seperator">
        <form #filterForm='ngForm' (ngSubmit)="filterForm.form.valid && filterEntries()">
          <div class="form-group col-sm-3">
            <label for="fsDate">Start Date</label>
            <input type="date" name="fsDate" id="fsDate" class="form-control" [(ngModel)]="filter.fsDate" #fsDate="ngModel" [ngClass]="{ 'is-invalid': filterForm.submitted && fsDate.invalid }" required>
          </div>
          <div class="form-group col-sm-3">
            <label for="feDate">End Date</label>
            <input type="date" name="feDate" class="form-control" id="feDate" [(ngModel)]="filter.feDate" #feDate="ngModel" [ngClass]="{ 'is-invalid': filterForm.submitted && feDate.invalid }" required>
          </div>
          <button type="submit" class="btn btn-primary" style="margin-top: 24px;">Filter</button>
        </form>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>City</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Price</th>
            <th>Status</th>
            <th>Color</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of entries">
            <td>{{entry.id}}</td>
            <td>{{entry.city}}</td>
            <td>{{entry.start_date | date}}</td>
            <td>{{entry.end_date | date}}</td>
            <td>{{entry.price}}</td>
            <td>{{entry.status}}</td>            
            <td>{{entry.color}}</td>
            <td><i class="fa fa-pencil-square-o pointer-cursor" aria-hidden="true" (click)="enableEditMode(entry)"></i>&nbsp;&nbsp;&nbsp; <i class="fa fa-trash pointer-cursor" aria-hidden="true" (click)="deleteEntry(entry.id)"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>