@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.pointer-cursor{
    cursor: pointer;
}

.pointer-cursor-btn {
    padding: 10px;
    margin:10px;
    border-radius: 5px;
    cursor: pointer;
}

.is-invalid{
    border: 1px solid red;
}